.board-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#home-image {
    width: 30px;
    height: 30px;
}

.home-button {
    background: rgba(0, 0, 0, 0.2);
    margin-left: 47px;
    border-radius: 50%;
    padding: 5px 5px;
}

.home-button:hover {
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.board-title {
    color: white;
    font-family: Raleway-SemiBold;
    font-size: 32px;
    font-weight: normal;
}

.username-member {
    height: 35px;
    width: 35px;
    background-color: #3399ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 7px;
    margin-top: 7px;
}

.username-member:hover {
    background-color: #5eaeff;
}

.main-content {
    background-color: #fafafa;
    height: 93%;
    display: flex;
    flex-direction: column;
}

.members {
    margin-left: 47px;
    margin-top: 10px;
    display: flex;
}

.board-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-container {
    width: 30%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: white;
}

.card-header-tasks {
    background-color: #44c19e;
    height: 5vh;
    color: white;
    font-family: Raleway-SemiBold;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.board-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-task-in-card {
    color: rgb(104, 104, 104);
    margin-top: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.button-add-task {
    width: 90%;
    padding: 10px 10px;
    margin: 10px 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.button-add-task:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


/* Add-task modal: */

.modal-task {
    display: none;
    position: fixed;
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.form-style-2 {
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-2 label {
    display: block;
    margin: 0px 0px 15px 0px;
}

.form-style-2 label>span {
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.form-style-2 span.required {
    color: red;
}

.form-style-2 input.input-field {
    width: 48%;
}

.form-style-2 input.input-field,
.form-style-2 .textarea-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 4px #ebebeb;
    -moz-box-shadow: 1px 1px 4px #ebebeb;
    -webkit-box-shadow: 1px 1px 4px #ebebeb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.form-style-2 .input-field:focus,
.form-style-2 .textarea-field:focus {
    border: 1px solid #0c0;
}

.form-style-2 .textarea-field {
    height: 100px;
    width: 55%;
}

.form-style-2 input[type="submit"] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #00994d;
    color: #fff;
    box-shadow: 1px 1px 4px #dadada;
    -moz-box-shadow: 1px 1px 4px #dadada;
    -webkit-box-shadow: 1px 1px 4px #dadada;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.form-style-2 input[type="submit"]:hover {
    background: #5cb85c;
    color: #fff;
    cursor: pointer;
}


/* History: */

.history-dropbtn {
    width: 100%;
    background-color: #44c19e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.history-dropup {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #44c19e;
}

.dropup-content {
    width: 90%;
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.history-dropup:hover .dropup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-dropup:hover .history-dropbtn {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.oneHistory {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 90%;
    display: flex;
}

.history-username {
    height: 35px;
    width: 35px;
    background-color: #3399ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 7px;
    margin-top: 7px;
    margin-right: 20px;
}

.history-info {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}