body {
    margin: 0;
}

.logo-image {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formular-login {
    margin: 50px;
}

.first-image {
    width: 600px;
    height: 600px;
}

.login-title {
    font-family: Raleway-Medium;
    font-size: 30px;
    color: #555555;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
    font-weight: 800;
}

.input-container {
    margin-bottom: 8px;
}

.input-content {
    font-family: Raleway-Medium;
    color: #555555;
    font-size: 18px;
    width: 100%;
    background: transparent;
    height: 32px;
    padding: 0 25px 0 25px;
    outline: none;
}

.label-content {
    font-family: Raleway-SemiBold;
    font-size: 16px;
    color: #555555;
    text-transform: uppercase;
}

.button-container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-content {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 32px;
    background-color: #00994d;
    border-radius: 20px;
    outline: none;
}

.register-container {
    display: flex;
    align-items: center;
    margin-top: 32px;
    color: #1a1aff;
    cursor: pointer;
}

button {
    border: none;
}

.create-icon {
    width: 16px;
    height: 16px;
}