html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.logo-image {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.formular {
    margin: 50px;
}

.first-image {
    width: 600px;
    height: 600px;
}

.title {
    font-family: Raleway-Medium;
    font-size: 30px;
    color: #555555;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
    font-weight: 800;
}

.input-container {
    margin-bottom: 8px;
}

.input-content {
    font-family: Raleway-Medium;
    color: #555555;
    font-size: 18px;
    width: 100%;
    background: transparent;
    height: 32px;
    padding: 0 25px 0 15px;
    outline: none;
}

.label-content {
    font-family: Raleway-SemiBold;
    font-size: 16px;
    color: #555555;
    text-transform: uppercase;
}

.button-container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-content {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 32px;
    background-color: #00994d;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.register-container-link {
    display: flex;
    align-items: center;
    margin-top: 32px;
    color: #1a1aff;
    cursor: pointer;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.create-icon {
    width: 16px;
    height: 16px;
}

#error-messages {
    color: red;
    margin-top: 6px;
}

.error-container {
    width: 400px;
    height: 80px;
    color: white;
    font-size: 16px;
    position: absolute;
    left: 70%;
    top: 80%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ff1a1a;
}

.click-area {
    cursor: pointer;
    font-size: 28px;
}

.title-errors {
    border-bottom: 1px solid;
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin-error {
    margin-left: 4px;
    margin-right: 4px;
}

.errors-container {
    margin: 4px;
}


/* .panel {
    background: #20a882;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
}

.panel-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.category span:first-child {
    font-size: 20px;
    opacity: 0.6;
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

.category span:last-child {
    margin-right: 5px;
    font-size: 32px;
    color: #fff;
}

@media only screen and (max-width: 760px) {
    .first-image {
        width: 100px;
        height: 100px;
    }
    .inner-container {
        flex-direction: column;
    }
    .input-content {
        width: 75%;
    }
    .category span:first-child {
        font-size: 16px !important;
    }
    .category span:last-child {
        font-size: 18px !important;
    }
    .panel {
        height: 40px;
    }
}

@media only screen and (min-width: 760px) and (max-width: 800px) {
    .first-image {
        width: 300px;
        height: 300px;
    }
}