<% if( boards.length != 0 ) { %>
    <% boards.forEach(function(board) { %>
        <div class="board-title-request">
            <%=  board.title %>
        </div>
        <% }); %>
            <%} %>

                <% if (boards.length == 0 ) { %>
                    <div class="empty-state">
                        <img class="image-empty" src="/images/img_519534.png">
                        <p class="empty-text">No boards here</p>
                    </div>
                    <% } %>