<% if(typeof errors != 'undefined') { %>
    <div class="error-container">
        <div class="title-errors">
            <span class="margin-error">Errors</span>
            <span class="margin-error click-area">&times;</span>
        </div>
        <div class="errors-container">
            <% errors.forEach(function(error) { %>
                <%=  error.msg %>
                    <% }); %>
        </div>
    </div>
    <%} %>

        <% if(typeof success != 'undefined') { %>
            <div class="success-container">
                <% success.forEach(function(success) { %>
                    <%=  success.msg %>
                        <% }); %>
            </div>
            <%} %>