<% if( tasksInProgress.length != 0 ) { %>
    <% tasksInProgress.forEach(function(taskInProgress) { %>
        <button class="btn-task" id="btn-task" draggable="true" ondragstart="drag(event)">
        <%=  taskInProgress.title %>
        </button>
    <% }); %>
<%} %>

<% if (tasksInProgress.length == 0 ) { %>
    <div class="empty-Tasks">
        <p class="empty-text-Tasks">No tasks here</p>
    </div>
<% } %>