<% if( tasksDone.length != 0 ) { %>
    <% tasksDone.forEach(function(taskDone) { %>
        <button class="btn-task" id="btn-task" draggable="true" ondragstart="drag(event)">
        <%=  taskDone.title %>
        </button>
    <% }); %>
<%} %>

<% if (tasksDone.length == 0 ) { %>
    <div class="empty-Tasks">
        <p class="empty-text-Tasks">No tasks here</p>
    </div>
<% } %>