<div class="info-container">
        <div class="username-container">
            <%- username %>
        </div>
        <div class="profile-menu">
            <a>Settings</a>
            <a href="/logout">Log Out</a>
        </div>
</div>
