<div class="info-container">
    <div class="username-container" id="username">
        <%- username %>
    </div>
    <div class="profile-menu">
        <a href="user-settings">Settings</a>
        <a href="/logout">Log Out</a>
    </div>
</div>