<div class="board-container">
    <div class="header-container">
        <button class="home-button" id="home-btn">
            <img id="home-image" src="/images/home-icon.png" />
        </button>

        <div class="board-title">
            Nume board
        </div>

        <%- include  ('./partials/user-info') %>
    </div>

    <div class="main-content">
        <div class="members">
            <!-- TODO: Get members that are in the board -->
            <p>Members:</p> 
            <div class="username-member">AB</div>
            <div class="username-member">MB</div>
        </div>
        <div class="board-cards">
            <div class="card-container">
                <div class="card-header">
                    <p>To do</p>
                </div>
                <div class="board-card-body">
                    <button class="button-add-task" id="button-task">+ Add a task</button>
                </div>
            </div>

            <div class="card-container">
                <div class="card-header">
                    <p>In progress</p>
                </div>
                <div class="board-card-body">
                    <button class="button-add-task" id="button-task">+ Add a task</button>
                </div>
            </div>

            <div class="card-container">
                <div class="card-header">
                    <p>Done</p>
                </div>
                <div class="board-card-body">
                    <button class="button-add-task" id="button-task">+ Add a task</button>
                </div>
            </div>

            <div id="modal-task" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Add a new task</h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-style-2">
                            <form action="/tasks" method="POST">
                                <label for="field1"><span>Title <span class="required">*</span></span><input type="text"
                                        class="input-field" name="title" value="" /></label>
                                <label for="field2"><span>Deadline</span><input type="date" class="input-field"
                                        name="deadline" value="" /></label>
                                <label for="field3"><span>Domain</span><input type="text" class="input-field"
                                        name="domain" value="" /></label>
                                <label for="field4"><span>Region</span><input type="text" class="input-field"
                                        name="region" value="" /></label>
                                <label for="field5"><span>Description</span><textarea name="descripion"
                                        class="textarea-field"></textarea></label>

                                <label><span> </span><input class="createTask" type="submit" value="Create" /></label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/javascripts/openmodal-task.js"></script>
        </div>
    </div>
</div>

<script src="/javascripts/board-buttons.js"></script>