<link rel="stylesheet" href="/stylesheets/vanillaSelectBox.css">
<div class="board-container">
    <div class="board-header-container">
        <button class="home-button" id="home-btn">
            <img class="home-image" src="/images/home-icon.png" />
        </button>

        <div class="board-title" id="board_name">
            <%- name_board %>
        </div>

        <%- include ('./partials/user-info') %>
    </div>

    <div class="main-content">
        <div class="members">
            <!-- TODO: Get members that are in the board -->
            <div>
                <p>Members:</p>
                <div id="members-container">

                </div>
            </div>

            <div>
                <button class="myButton" id="add-button">+ Add member</button>
            </div>
            <div id="add-member-modal" class="modal">
                <div class="modal-content">
                    <div class="form">
                        <form id="add-member-form">
                            <div class="modal-title">
                                <span class="title-create">Add member</span>
                                <span class="closed">&times;</span>
                            </div>
                            <div class="input-container">
                                <span class="label-content">Name</span>
                                <div id="select-container"></div>
                            </div>

                            <div class="create-button">
                                <button type="submit" class="button-content">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="board-cards">
            <div class="card-container" id="to-do-task">
                <div class="card-header-tasks">
                    <p>To do</p>
                </div>

                <div class="board-card-body">
                    <div class="container-div" id="to-do-card" ondrop="drop(event,'to-do')" ondragover="allowDrop(event)">

                    </div>
                    <div class="container-div">
                        <button class="button-add-task" id="button-task">+ Add a task</button>
                    </div>
                </div>
            </div>

            <div class="card-container" id="in-progress-task">
                <div class="card-header-tasks">
                    <p>In progress</p>
                </div>
                <div class="board-card-body" id="in-progress-card" ondrop="drop(event,'in-progress')" ondragover="allowDrop(event)">

                </div>
            </div>

            <div class="card-container" id="done-task">
                <div class="card-header-tasks">
                    <p>Done</p>
                </div>
                <div class="board-card-body" id="done-card" ondrop="drop(event,'done')" ondragover="allowDrop(event)">

                </div>
            </div>

            <!-- AddTask Modal -->
            <div id="modal-task" class="modal-task">
                <div class="modal-content">
                    <div class="modal-header">
                        <span id="close">&times;</span>
                        <h2>Add a new task</h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-style-2">
                            <form name="newTask-form" action="/task" method="POST" onsubmit="return validateForm()">
                                <label for="field0">
                                    <span>Board</span>
                                    <input type="text" class="input-field" name="board_to_add" id="board_value"
                                        readonly><br>
                                </label>
                                <script>
                                    var value_ = document.getElementById('board_value');
                                    var board = document.getElementById('board_name').innerText;
                                    value_.value = board;
                                </script>
                                <label for="field1">
                                    <span>Title <span class="required">*</span></span>
                                    <input type="text" class="input-field" id="task-title" name="title" value="" />
                                </label>
                                <label for="field2">
                                    <span>Deadline</span>
                                    <input type="date" class="input-field" name="deadline" value="" />
                                </label>
                                <label for="field3">
                                    <span>Domain</span>
                                    <select class="input-field" name="domain" value="">
                                        <option value=""></option>
                                        <option value="Frontend">Frontend</option>
                                        <option value="Backend">Backend</option>
                                        <option value="Design">Design</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </label>
                                <label for="field4">
                                    <span>Region</span>
                                    <input type="text" class="input-field" name="geographical_area" value="" />
                                </label>
                                <label for="field5">
                                    <span>Description</span>
                                    <textarea name="description" class="textarea-field"></textarea>
                                </label>

                                <label>
                                    <input class="createTask" id="add-task-submit" type="submit" value="Create" />
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- EditTask Modal -->
            <div id="modal-editTask" class="modal-editTask">
                <div class="modal-content">
                    <div class="modal-header">
                        <span id="close-edit">&times;</span>
                        <h2>Edit task</h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-style-2">
                            <form name="editTask-form" action="/task" method="POST" onsubmit="return validateForm()">
                                <label for="field0">
                                    <span>Board</span>
                                    <input type="text" class="input-field" name="board_to_add" id="board_title"
                                        readonly><br>
                                </label>
                                <script>
                                    var value_ = document.getElementById('board_title');
                                    var board = document.getElementById('board_name').innerText;
                                    value_.value = board;
                                </script>
                                <label for="field1">
                                    <span>Title <span class="required">*</span></span>
                                    <input type="text" class="input-field" id="task-title" name="title" value="" />
                                </label>
                                <label for="field2">
                                    <span>Deadline</span>
                                    <input type="date" class="input-field" name="deadline" value="" />
                                </label>
                                <label for="field3">
                                    <span>Domain</span>
                                    <select class="input-field" name="domain" value="">
                                        <option value=""></option>
                                        <option value="Frontend">Frontend</option>
                                        <option value="Backend">Backend</option>
                                        <option value="Design">Design</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </label>
                                <label for="field4">
                                    <span>Region</span>
                                    <input type="text" class="input-field" name="geographical_area" value="" />
                                </label>
                                <label for="field5">
                                    <span>Image</span>
                                    <input type="file" class="image-field" name="image" id="image" />
                                </label>
                                <label for="field6">
                                    <span>Link</span>
                                    <input type="url" class="input-field" name="url" id="url" />
                                </label>
                                <label for="field7">
                                    <span>Assign users</span>
                                    <select id="assigned-users" multiple size=3>
                                        <!-- TODO get users -->
                                        <option value=""></option>
                                        <option>User nr1</option>
                                        <option>User nr2</option>
                                    </select>
                                </label>
                                <script src="/javascripts/vanillaSelectBox.js"></script>
                                <script>
                                    selectBox2 = new vanillaSelectBox("#assigned-users", {
                                        "maxHeight": 200,
                                        "search": true
                                    });
                                </script>

                                <label for="field8">
                                    <span>Description</span>
                                    <textarea name="description" class="textarea-field"></textarea>
                                </label>

                                <div class="form-buttons">
                                    <label>
                                        <input class="edit-task" id="edit-task-submit" type="submit" value="Save" />
                                    </label>
                                    <label>
                                        <button class="delete-task" id="delete-task">Delete task</button>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="history-dropup">
        <button class="history-dropbtn">Show history for this board</button>
        <div class="dropup-content">
            <div class="oneHistory">
                <div class="history-username">AB</div>
                <div class="history-info">
                    <div class="history-text">History text</div>
                    <div class="history-date">02-Jan-2020</div>
                </div>
            </div>

            <div class="oneHistory">
                <div class="history-username">MB</div>
                <div class="history-info">
                    <div class="history-text">Another history text</div>
                    <div class="history-date">10-Jan-2020</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/board-buttons.js"></script>
<script src="/javascripts/added-tasks.js"></script>
<script src="/javascripts/openmodal-task.js"></script>
<script src="/javascripts/openmodal-editTask.js"></script>
<script src="/javascripts/add-member-modal.js"></script>
<script src="/javascripts/add-member.js"></script>