<div class="board-container">
    <div class="board-header-container">
        <button class="home-button" id="home-btn">
            <img class="home-image" src="/images/home-icon.png" />
        </button>

        <div class="board-title">
            Nume board
        </div>

        <%- include ('./partials/user-info') %>
    </div>

    <div class="main-content">
        <div class="members">
            <!-- TODO: Get members that are in the board -->
            <p>Members:</p>
            <div class="username-member">AB</div>
            <div class="username-member">MB</div>
        </div>

        <div class="board-cards">
            <div class="card-container" id="to-do-task">
                <div class="card-header-tasks">
                    <p>To do</p>
                </div>

                <div class="board-card-body">
                    <div class="container-div" id="to-do-card" ondrop="drop(event,'to-do')" ondragover="allowDrop(event)">

                    </div>
                    <div class="container-div">
                        <button class="button-add-task" id="button-task">+ Add a task</button>
                    </div>
                </div>
            </div>

            <div class="card-container" id="in-progress-task">
                <div class="card-header-tasks">
                    <p>In progress</p>
                </div>
                <div class="board-card-body" id="in-progress-card" ondrop="drop(event,'in-progress')" ondragover="allowDrop(event)">

                </div>
            </div>

            <div class="card-container" id="done-task">
                <div class="card-header-tasks">
                    <p>Done</p>
                </div>
                <div class="board-card-body" id="done-card" ondrop="drop(event,'done')" ondragover="allowDrop(event)">

                </div>
            </div>

            <!-- AddTask Modal -->
            <div id="modal-task" class="modal-task">
                <div class="modal-content">
                    <div class="modal-header">
                        <span id="close">&times;</span>
                        <h2>Add a new task</h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-style-2">
                            <form name="newTask-form" action="/task" method="POST" onsubmit="return validateForm()">
                                <label for="field1">
                                    <span>Title <span class="required">*</span></span>
                                    <input type="text" class="input-field" id="task-title" name="title" value="" />
                                </label>
                                <label for="field2">
                                    <span>Deadline</span>
                                    <input type="date" class="input-field" name="deadline" value="" />
                                </label>
                                <label for="field3">
                                    <span>Domain</span>
                                    <select class="input-field" name="domain" value="">
                                        <option value=""></option>
                                        <option value="Frontend">Frontend</option>
                                        <option value="Backend">Backend</option>
                                        <option value="Design">Design</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </label>
                                <label for="field4">
                                    <span>Region</span>
                                    <input type="text" class="input-field" name="geographical_area" value="" />
                                </label>
                                <label for="field5">
                                    <span>Description</span>
                                    <textarea name="description" class="textarea-field"></textarea>
                                </label>

                                <label>
                                    <input class="createTask" id="add-task-submit" type="submit" value="Create" />
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- EditTask Modal -->
            <div id="modal-editTask" class="modal-editTask">
                <div class="modal-content">
                    <div class="modal-header">
                        <span id="close-edit">&times;</span>
                        <h2>Edit task</h2>
                    </div>
                    <div class="modal-body">



                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="history-dropup">
        <button class="history-dropbtn">Show history for this board</button>
        <div class="dropup-content">
            <div class="oneHistory">
                <div class="history-username">AB</div>
                <div class="history-info">
                    <div class="history-text">History text</div>
                    <div class="history-date">02-Jan-2020</div>
                </div>
            </div>

            <div class="oneHistory">
                <div class="history-username">MB</div>
                <div class="history-info">
                    <div class="history-text">Another history text</div>
                    <div class="history-date">10-Jan-2020</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/board-buttons.js"></script>
<script src="/javascripts/added-tasks.js"></script>
<script src="/javascripts/openmodal-task.js"></script>
<script src="/javascripts/openmodal-editTask.js"></script>