<div class="board-container">
  <div class="header-container">
    <button class="home-button">
      <img id="home-image" src="/images/home-icon.png" />
    </button>

    <div class="board-title">
      Nume board
    </div>

    <div class="username-container">
      MA
    </div>
  </div>

  <div class="main-content">
    <div class="cards">
      <div class="card-container">
        <div class="card-header">
          <p>To do</p>
        </div>
        <div class="card-body">
          <button class="button-add-task">+ Add a task</button>
        </div>
      </div>

      <div class="card-container">
        <div class="card-header">
          <p>In progress</p>
        </div>
        <div class="card-body">
          <button class="button-add-task">+ Add a task</button>
        </div>
      </div>

      <div class="card-container">
        <div class="card-header">
          <p>Done</p>
        </div>
        <div class="card-body">
          <button class="button-add-task">+ Add a task</button>
        </div>
      </div>
    </div>
  </div>
</div>
