<!DOCTYPE html>
<html>

<head>
    <title>TASOR</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/board.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/user-settings.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/boards-format.css">

</head>

<body>
    <%- body %>
</body>

</html>