<div class="inner-container">
    <div class="info-content">
        <img src="/images/first-image.jpg" alt="Image" class="first-image">
    </div>
    <div class="formular">
        <form id="login-form" action="/login" method="POST">
            <span class="title">Login</span>

            <div id="error-messages">
                <%- include  ('./partials/messages') %>
            </div>
            <script src="/javascripts/errors.js"></script>
            <br />
            <span class="label-content">Username</span>
            <div class="input-container">
                <input type="text" name="username" class="input-content">
            </div>

            <span class="label-content">Password</span>
            <div class="input-container">
                <input type="password" name="password" class="input-content">
            </div>

            <div class="button-container">
                <button type="submit" class="button-content">Login</button>
            </div>
        </form>

        <div class="register-container-link">
            <img src="/images/create-icon.png" alt="Create image" class="create-icon">
            <a href="/register">Create your account</a>
        </div>
    </div>
</div>
</div>

<div class="wrapper">
    <div class="panel">
        <div class="panel-body">
            <div class="category">
                <span>No. of users:</span>
                <span id="users-number"></span>
            </div>
            <div class="category">
                <span>No. of boards:</span>
                <span id="boards-number"></span>
            </div>
            <div class="category">
                <span>No. of tasks:</span>
                <span id="tasks-number"></span>
            </div>

        </div>
    </div>

    <script src="/javascripts/statistics.js"></script>