<div class="register-container">
    <div class="icon-register">
        <img src="/images/register.svg" alt="Image" class="first-image">
    </div>
    <div class="formular-register-container">
        <form id="register-form" action="/register" method="POST">
            <span class="title">Register</span>

            <div id="error-messages">
                <%- include  ('./partials/messages') %>
            </div>
            <br />

            <span class="register-label">Domain</span>
            <div id="mainselection">
                <select name="domain"> 
                    <option value="Frontend">Frontend</option>
                    <option value="Backend">Backend</option>
                    <option value="Design">Design</option>
                    <option value="Others">Others</option>
                </select>
            </div>

            <br />
            <span class="register-label">Username</span>
            <div class="input-container-register">
                <input type="text" name="username" class="input-content-register">
            </div>

            <span class="register-label">Fullname</span>
            <div class="input-container-register">
                <input type="text" name="fullname" class="input-content-register">
            </div>

            <span class="register-label">Email</span>
            <div class="input-container-register">
                <input type="text" name="email" class="input-content-register">
            </div>

            <span class="register-label">Password</span>
            <div class="input-container-register">
                <input type="password" name="password" class="input-content-register">
            </div>

            <span class="register-label">Repeat password</span>
            <div class="input-container-register">
                <input type="password" name="password2" class="input-content-register">
            </div>

            <div class="button-container">
                <button type="submit" class="button-content">Register</button>
            </div>
        </form>
    </div>
</div>